<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="">

  <assemblies>
    <add assembly="Advanced.CMS.Compare" />
  </assemblies>

  <clientResources>
    <add name="epi-cms.widgets.base" path="~/modules/customWidgetSwitcher.js" resourceType="Script" />
  </clientResources>

  <clientModule initializer="advanced-cms-compare.main-initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="Advanced.CMS.Compare" />
    </requiredResources>
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-compare" path="ClientResources" />
    </paths>
 </dojo>
</module>
