.range-slider {
    height: 30px;
    padding-top: 5px;
}

.range-points {
    position: relative;
    width: 100%;
    height: 20px;
}

.range-points .point {
    position: absolute;
    background-color: #000;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    top: 5px;
}

.Sleek .range-slider .dijitSliderProgressBar {
    background-image: none;
    margin-top: -16px;
    opacity: 0.5;
}

.Sleek .range-slider .dijitSliderProgressBar.dijitSliderBarH {
    height: 15px;
}
