.content-history-compare {
    background-color: #ebebe6;
}

.content-history-compare .header {
    padding: 0 5px;
}

.content-history-compare .date-selector input[type=text]{
    cursor: default;
}

.content-history-compare .date-range-container {
    width: 100%;
}
